body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
}

header {
  background: #2b7cff;
  color: white;
  padding: 15px;
  display: flex;
  gap: 10px;
}

header input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  color: #2b7cff;
}

#ads {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

.ad {
  background: white;
  padding: 15px;
  border-radius: 5px;
}

#ad h3 {
  margin: 0;
}

#create {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
}

.create-content {
  background: white;
  padding:35px;
  width: 200px;
  margin: 100px auto;
  border-radius: 5px;
}
.login-btn{
  padding: 10px 20px;
  background-color: #f2f2f3;
  color: #2b7cff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.login-btn:hover {
  background-color:#39a518;
}